version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - mean-network

  backend:
    image: gkarthick010/devops-task:backend
    container_name: backend
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/dd_db
      - NODE_ENV=production
      - PORT=8080
    depends_on:
      - mongodb
    networks:
      - mean-network

  frontend:
    image: gkarthick010/devops-task:frontend
    container_name: frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - mean-network

volumes:
  mongodb_data:

networks:
  mean-network:
    driver: bridge